@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {margin: 0; padding:0; box-sizing: border-box;}

body{
	color: #141823;
	margin: 0em;
	font-size: 16px;
	line-height: 1.25;
}

header {
	text-transform: uppercase;
	padding: 2em;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	border: 1px black solid;
}

header div {
	font-size: 0.5em;
	float: left;
}

nav {
	float: right;
	display: block;
	padding: 0 0.5em;
}

nav a {
	margin: .025em 1em 0.25em 1em;
}

nav a:link {
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

a:visited {
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

a:hover, a:focus {
background-color: rgb(255, 255, 200);
}

a:active { 
background-color: rgba(10,10,255,0.2);
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}


h1, h2, h3 {font-family: Open Sans, helvetica bold, sans-serif;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.25em; padding:0.5em 0;}
h3 {font-size: 1.15em;}
p {font-family: Roboto, garamond, serif; max-width: 35em; padding: 0.25em 0;}

img{
	width: 100%;
	height: auto;
	margin: 0;
}

main {
	padding: 1.5em;
	width: 80%;
	margin: auto;
	background-color: white;
}

ul {
	list-style-type: none;
	margin:0em;
	padding: 0.5em;
	width: auto;
}

section section{
	padding: 1em;
	width: 50%;
	float: left;
	border: 1px black solid;
	min-height: 15em;
}

aside {
	padding: 0 4em 1em 4em;
	width: 80%;
	display: block;
	margin: auto;
	background-color: white;
}

form > * {
	display: block;
	border: none;
	margin: 0.5em 0;
}

footer {
	clear: both;
	border: 1px black solid;
	padding: 20px;
	display: block;
	position: bottom;
	bottom: 0;
	background-color: rgba(10,10,255,0.05);
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	font-size: 0;
	display: block;
	content: " ";
	height: 0;
	clear: both;
}


.list1 {
	float: left;
}

.list2 {
	float: left;
}

.banner {
	background-image: URL("../images/working-guy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	margin: 3em 0 0 0;
	padding: 2em 2em;
}

.banner p {
	text-align: left;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	margin: 3em 0;
	max-width: 15em;
}

#subject {
	height: 10em;
}

.ads-logo{
	margin: 1em 0 1em 0;
	width: auto;
	height: auto;
}

.contact {
	width: 25%;
}

input {
	font-size: 1.1em;
	padding: 0.5em;
}

input, textarea {
	width: 100%;
	display: block;
	background-color: rgba(10,10,255,0.2);
}

input[type=submit] {
	padding: 0.2em;
	background-color: rgba(10,10,255,0.75);
	color: #FFF;
	width: 100%;	
}

.contact-link:hover {
	background-color: rgba(10,10,255,0.2);
}

#column-1 {
	float: left;
	padding-right: 2em;
}

#column-2 {
	display: block;
	content: " ";
	width: 100%;
	clear: both;
}

#column-3 {
	float: right;
	padding-left: 2em;
}

@media only screen and (min-width: 1118px) and (max-width: 1230px) {
	.all-services {
		background-color: grey;
	}
	section section{
		padding: 1em;
		width: 50%;
		float: left;
		border: 1px black solid;
		min-height: 16em;
	}
	main {
		font-size: 16px;
	}
}

@media only screen and (min-width: 952px) and (max-width: 1055px) {
	.all-services {
		background-color: blue;
	}
	section section{
		padding: 1em;
		width: 50%;
		float: left;
		border: 1px black solid;
		min-height: 17em;
	}

	.contact {
		width: 35%;
	}
	main {
		font-size: 14px;
		width: 80%;
	}
}

@media only screen and (min-width: 780px) and (max-width: 951px) {
	.all-services {
		background-color: red;
	}
	section section{
		padding: 1em;
		width: 50%;
		float: left;
		border: 1px black solid;
		min-height: 18.5em;
	}
	nav a {
		margin: 0 0.1em;
		font: 0.8em;
	}
	.contact {
		width: 35%;
	}
	main {
		font-size: 12px;
		width: 80%;
	}
}

@media only screen and (min-width: 500px) and (max-width: 779px) {
	.all-services {
		background-color: brown;
	}
	section section{
		padding: 0.2em;
		width: 100%;
		float: none;
		border: 1px black solid;
		min-height: 05em;
	}
	nav a {
		margin: 0 0.1em;
		font: 0.8em;
	}
	.contact {
		width: 60%;
	}
	main {
		padding: .5em;
		width: 85%;
		margin: auto;
		font-size: 12px;
	}
}

@media only screen and (min-width: 460px) and (max-width: 500px) {
	.all-services {
		background-color: blue;
	}
	section section{
		padding: 0.2em;
		width: 100%;
		float: none;
		border: 1px black solid;
		min-height: 05em;
	}
	nav a {
		font: 0.6em;
	}
	.contact {
		width: 80%;
	}
	main {
		padding: .5em;
		width: 90%;
		margin: auto;
		font-size: 12px;
	}
}

@media only screen and (min-width: 200px) and (max-width: 459px) {
	.all-services {
		background-color: blue;
	}
	section section{
		padding: 0.2em;
		width: 100%;
		float: none;
		border: 1px black solid;
		min-height: 05em;
	}
	nav a {
		font: 0.6em;
	}
	.contact {
		width: 100%;
	}
	footer p{
		font-size: 0.6em;
	}
	.hide-s {
		display: none;
	}
	main {
		padding: .5em;
		width: 95%;
		margin: auto;
		font-size: 12px;
	}
}