@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {margin: 0; padding:0; box-sizing: border-box;}

body{
	color: #141823;
	margin: 0em;
	background-color: rgba(255,211,10,.10)
}

header {
	text-transform: uppercase;
	padding: 2em;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	border: 1px black solid;
}

header div {
	font-size: 0.5em;
	float: left;
}

nav {
	float: right;
	display: block;
	padding: 0 0.5em;
}

nav a {
	margin-right: 1em;
	margin-left: 1em;
}

a:hover {
	background-color: rgb(255, 255, 200);
}

h1, h2, h3 {font-family: Open Sans, helvetica bold, sans-serif;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.25em; padding:0.5em 0;}
h3 {font-size: 1.15em;}
p {font-family: Roboto, garamond, serif;}

img{
	width: 100%;
	height: auto;
	margin: 0;
}

main {
	padding: 1.5em;
	width: 80%;
	margin: auto;
	background-color: white;
}

ul {
	list-style-type: none;
	margin:0em;
	padding: 0.5em;
	width: auto;
}

section {
	padding: 1em;
	width: 50%;
	float: left;
	border: 1px black solid;
}

aside {
	padding: 0 4em 1em 4em;
	width: 80%;
	display: block;
	margin: auto;
	background-color: white;
}

form > * {
	display: block;
}

footer {
	clear: both;
	border: 1px black solid;
	padding: 20px;
	display: block;
	position: bottom;
	float: left;
	background-color: rgba(10,10,255,0.05);
}

.clearfix:after {
	visibility: hidden;
	font-size: 0;
	display: block;
	content: " ";
	height: 0;
	clear: both;
}

#tag-line {
	padding: 1.5em 0;
}

.list1 {
	float: left;
}

.list2 {
	float: left;
}

.banner {
	background-image: URL("../images/working-guy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	margin: 3em 0 0 0;
}

#subject {
	height: 10em;
}

.ads-logo{
	margin: 1em 0 1em 0;
	width: auto;
	height: auto;
}

.contact {
	width: 25%;
}

input {
	font-size: 1.1em;
}

input, textarea {
	width: 100%;
	display: block;
	background-color: rgba(10,10,255,0.2);
}

input[type=submit] {
	padding: 0.2em;
	background-color: rgba(10,10,255,0.75);
	color: #FFF;
	width: 100%;	
}

.contact-link:hover {
	background-color: rgba(10,10,255,0.2);
}

#column-1 {
	float: left;
	padding-right: 2em;
}

#column-3 {
	float: right;
	padding-left: 2em;
}