@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/*body{
	color: #333;
	margin: 2em;
}
h1 {
	font-size: 2em;
	font-family: Open Sans, helvetica bold, sans-serif;
}
h2 {
	font-size: 1.5em;
	font-family: Open Sans, helvetica bold, sans-serif;
}
h3 {
	font-size: 1.25em;
	font-family: Open Sans, helvetica bold, sans-serif;
}
p{
	font-family: Roboto, garamond, serif;
}
header {
	text-transform: uppercase;
}
a:hover {
	background-color: yellow;
}
button {
    background-color: gray;
    border: black;
    border-style: solid;
    color: #333;
    padding: 0.25em 0.25em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
   	font-family: Open Sans, helvetic bold, sans-serif;
}
.ads-logo{
	width: 10%;
	height: auto;
}
img{
	width: 100%;
	height: auto;
}
.banner {
	background-image: URL("../images/working-guy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 70vh;
	padding: 2em;
	font-size: 2.5em;
}
#subject {
	width: 20em;
	height: 10em;
}
/*style="height:10em" style="width: auto;"*/

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	width: 75%;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
p {
	width: 50%;
}
aside {
	width: 25%
}